* {
    font-family: 'Maven Pro', sans-serif;
}

.outer-wrapper {
    font-size: 19px;
}

.inner-container {
    margin-left: 15px;
}

#description {
    width: 350px;
}

.form-container {
    /* display: flex; 
    justify-content: center;
    align-items: center; */
    margin-bottom: 15px;
}

.submit-button {
    background-color: pink;
    margin: 5px; 
}

/* .image-preview {
    display: flex;

} */

#screen {
    display: flex;
    padding-top: 15px;
}