* {
   font-family: 'Quicksand', sans-serif;
   font-weight: bolder;
}

.outer-wrapper {
    font-size: 19px;
}

.inner-container {
    margin-left: 15px;
}

#description {
    width: 350px;
}

.form-container {
    margin-bottom: 15px;
}

#screen {
    display: flex;
    margin: 50px;
    padding: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.image-preview {
    padding: 10px;
    margin-top: 85px;
    margin-left: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100; 
  border-radius: 5px;
}

.dropdown-content {
   border-radius: 5px;
}